#partie_aide {
	background-color:#62cbcb;
	width : 100%;
	height:100%;
	margin:0;
	clear:left;
}

#bloc_question {
	background-color:#62cbcb;
	width : 100%;
	height:100%;
	margin:0;
}

.question {
	background-color:#62cbcb;
	color:white;
	margin:40px;
	margin-left:50px;
}

#questions {
	background-color:#62cbcb;
	width : 100%;
	height:100%;
}

#titre {
	color:white;
	margin:0;
	margin-left:40px;
	padding-top:40px;
}

.reponse {
	color:white;
	background-color:#58b6b6;
	width:100%;
}

.reponse p {
	margin:50px;
}

.question:hover {
	cursor:pointer;
	color:#e5e5e5;
}
