.formulaire_back_office{
    margin-top: 0px;
    padding-top: 0px;
    float:left;
    clear:both;
    width: 100%;
    background-color:#95DCDC ;
}



.back{
    position:relative;
    text-align:center;
}

#titre_back{
    font-size:28px;
    color:white;
    text-align:center;
}


#bouton_back{
       font-size:1em;
	position:relative;
	background-color:#9FE774;
	box-shadow: 1px 2px 5px #bfbfbf, 0px -2px 5px #bfbfbf;
	width:400px;
	height:30px;
	display:inline-block;
	font-weight:bold;
        transform: translate(0,-50%);
	color:white;
	text-align:center;
	border:none;
	border-radius:5px;
}

