p{
    text-align:center;
}

#ajouterphoto{
    border:2px dashed black;
    background-color:grey;
    height:20px;
    width:140px;
    right:28px;
    top:340px;
    position:absolute;
    border-radius:20%;  
}

#go{
    border:3px solid black;
    background-color:green;
    height:70px;
    width:190px;
    font-siz !e: 40px;
    font-style:italic;
    position:relative;
    right:0%;
    bottom:10%;
    border-radius:30%;
    font-weight:bold;
}

#go2{
    border:3px solid black;
    background-color:purple;
    height:30px;
    width:150px;
    position:relative;
}

#go3{
    border:3px solid black;
    background-color:purple;
    height:40px;
    width:200px;
    position:relative;
}

#table1{
    position:absolute;
    top:200px;
    height:500px;
    width:100%;
    background-color:#74def1;
    text-align:center;
    color:white;
}


#nameevent{
    width:300px;
}

#adresseevent{
    width:300px;
}

#prix{
    width:50px;
}

#dateevent{
    width:30px;
}

#heureevent{
    width:70px;
    height:20px;
}

#nombre{
    width:30px;
    height:15px;
}

#dateevent2{
    width:40px;
}

#description{
    width:500px;
    height:100px;
    border: 3px black solid;
}

#detail{
    height:40px;
    width:100px;
}

#photo{
    height:150px;
    width:100px;
    border: 2px solid black;
}
table tr #td1{
    background-color:white;
    height:100px;
    width:100px;
}
#picnic{
    height:225px;
    width:300px;
}

#profil{
    height:180px;
    width:150px;
    margin-top: 70px;
    margin-right: 15px;
}

#ajouterphoto:hover{
    background-color:#B0B0B0;
}
#go:hover{
    background-color:#00CC33;
    cursor:pointer;
}

#plus{
    height:20px;
    width:20px;
}

bouton{
    bottom:5%;
}