.gestion_categ{
    background-color: #95DCDC;

    float:left;
    clear:both;
    position:relative;
    width:100%;
}

.titre_gestion_utilisateur{
    color:white;
    font-size: 20px;
    text-align:center;
}

#bouton_back{
    font-size:1em;
    position:relative;
    background-color:#9FE774;
    box-shadow: 1px 2px 5px #bfbfbf, 0px -2px 5px #bfbfbf;
    width:200px;
    height:30px;
    display:inline-block;
    font-weight:bold;
    transform: translate(0,-50%);
    color:white;
    border:none;
    border-radius:5px;
    margin-left:35%;
}

#entrer_categ {
    margin-left:37.5%;
}

#bloc_gestion_utilisateur{
    display: inline-block;
    width: 30%;
    text-align: left;
    position:relative;
}

#bloc_ajout_categ{
    position:relative;
    width: 49.5%;
    display:inline-block;
    text-align: left;
}

.bouton_suppression_categ{
    color: red;  
}

.nomcateg{
    text-align: left;
    margin-left:20%;
    margin-right:1%;
    display:inline-block;
    margin-bottom:5%;
    padding-top:1px
}

.zone_input_categ {
    margin:0;
    display:inline-block;
    padding-bottom:0;
    margin-bottom:5%;
}

.mail_de_utilisateur {
    margin:0;
    border:1px solid #95DCDC;
}

.zone_modification_categ{
    width:85px;
}