#titre_recherche{
   text-align: center;
   background-color: #95DCDC;
   font-size: 40px;
   color:white;
   
}

/*Couleur bleu: 95DCDC
couleur vert: 9FE774*/


#formulaire_recherche{
    background-color: #95DCDC;
}



#motscles{
    width:500px;
   }

#lieuevenement{
    width:500px;
}


#date_recherche{
    width:150px;
}



#police_categ{
    position:relative;
    left:15%;
    color:white;
    font-size: 28px;
}

#police_date{
    position:relative;
    left:15%;
    color:white;
    font-size: 28px;
}

#police_lieu{
    position:relative;
    left:15%;
    color:white;
    font-size: 28px;
}

#police_motscles{
    position:relative;
    left:15%;
    color:white;
    font-size: 28px;
} 


#input_motscles{
    position:relative;
    left:40%;
    top:50%;
}

#input_categ{
    position:relative;
    left:40%;
    top:50%;
}

#input_lieu{
    position:relative;
    left:40%;
    
}

#input_date{
    position:relative;
    left:40%;
    top:50%;
    color: #FFFFFF;
}

#input_recherche{
    left :25%;
    	font-size:1em;
	float:left;
	position:relative;
	background-color:#9FE774;
	box-shadow: 1px 2px 5px #bfbfbf, 0px -2px 5px #bfbfbf;
	width: 40%;
	height:50px;
	display:inline-block;
	font-weight:bold;
	top: 50%;
        transform: translate(0,-50%);
	text-align:center;
	border:none;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
        color:white;
}
#mots_date{
    color:white;
    position:relative;
    text-align: center;
}


#liste_categ{
     position:relative;
    left:40%;
    top:50%;
}


