#contenant_resultat {
	float:left;
	width:100%;
	padding-top:20px;
	background-color:#59b7ff;
	margin:0;
}

#mot_clef {
	height: 50px;
	font-size:1em;
	border-radius : 5px;
}

.Bouton_evenements {
	font-size:1em;
	background-color:#6cdf6c;
	box-shadow: rgba(0,0,0,0.2) 2px 2px;
	height:50px;
	margin:0;
	display:inline-block;
	font-weight:bold;
	color:white;
	text-align:center;
	border-radius:5px;
	border:1px solid grey;
	position:relative;
}

#indicateur_recherche p {
	background-color:#59b7ff;
	text-align:center;
	color:white;
	font-size:1.5em;
}

.ligne {
	text-align:center;
}

#indicateur_recherche {
	background-color:#59b7ff;
	margin:0;
	border:1px solid #59b7ff;
}

#formulaire_page_resultat {
	
	background-color:#59b7ff;
	text-align:center;
}

.evenement {
	display:inline-block;
	width:25%;
	cursor:pointer;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
	vertical-align:top;
}

.nom_evenement {
	text-align:center;
	color:white;
}

.vignette {
	border:1px solid #6cdf6c;
	background-color:black;
	height:30vh;
	border-radius:5px;
	line-height:30vh;
}

.vignette img {
	max-width:95%;
	max-height:95%;
	vertical-align:middle;
	border-radius:5px;
}

.photo_information {
	width:30%;
	height:100%;
	display:inline-block;
	background-color:#6cdf6c;
}

.photo_information img {
	max-width:95%;
	max-height:95%;
	margin:5%;
	border-radius:5px;
}

.information {
	width:100%;
	height:auto;
	position:relative;
	display:inline-block;
	background-color:#6cdf6c;
	border-radius:5px;
	margin-bottom:10px;
}

.informations {
	width:70%;
	height:100%;
	position:absolute;
	display:inline-block;
	background-color:#6cdf6c;
}

.titre_information {
	margin:4%;
	color:white;
}

.texte_information {
	margin:2%;
	color:white;
}

.texte_information p {
	word-wrap:break-word;
}

.Bouton_information {
	position:absolute;
	font-size:1.2em;
	text-align:center;
	border-radius:5px;
	margin-left:70%;
	
}

.Bouton_information:hover {
	opacity:0.5;
	background:white;
	color:black;
}

.Bouton_information p {
	color:black;
}
#map{
	position:relative;
	clear:left;
	float:left;
	display:inline-block;
	box-shadow: rgba(0,0,0,0.2) 2px 2px;
	width:100%;
	height:250px;
}
