.gestion_utilisateur{
    background-color: #74DEF1;

    float:left;
    clear:both;
    position:relative;
    width:100%;
}

.titre_gestion_utilisateur{
    color:white;
    font-size: 20px;
    text-align:center;
}
.titre_gestion_utilisateur_princ{
    color:white;
    font-size: 28px;
    text-align:center;
}
#mail_utilisateur{
    position: relative;
    left: 42%;
    margin-bottom: 50px;
    width: 200px;
}

#tableau_utilisateur_signales{
    position: relative;
    left:30%;
    color:white;
    font-size: 20px;
    text-align:center;
}

#texte_mail{
    color:white;
    position: relative;
    left:41%;
}

th{
    border: 2px solid black;
    width : 200px;
}